body {
	background: #414141;
	/*color: #FFFFFF;*/
    color: #000000;
	font-family: tahoma, arial;
	font-size: 16px;
	/*font-weight: bold;*/
    font-weight: normal;
	line-height: 24px;
	margin: 0;
	padding: 0;
	text-align: center;
	/*background-image:url(images/background.gif);*/
}

* html body {
	line-height: 14px;
}
a:link { 

	/*color: #FFFFFF;*/
	color: #000000;
    font-weight: bold;
	letter-spacing: 2px;
	text-decoration: none;
}
	
a:visited { 
	/*color: #FFFFFF;*/
    color: #808080;
	font-weight: bold;
	letter-spacing: 2px;
	text-decoration: none;	
}
	
a:hover, a:active { 
	/*color: #FFFFFF;*/
    color: #000000;
	font-weight: bold;
	letter-spacing: 2px;
	text-decoration: underline;
}


.thumbnails ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.thumbnails li {
	float: left;
	list-style: none;
	margin: 0px;
	margin-right: 15px;
	padding: 0px;
}


/*Menu and Title. Commonn menus.*/

#CommonBox {
    margin: 0 auto;
	margin-top: 20px;
	width: 733px;
    
	border: 1px solid black;
	padding: 10px;
	
	background-color:#FFFFFF;
	
	text-align: justify;
}

#titlelab {
    /*width: 763px;*/
    border: 1px solid #000000;
	font-size: 20px;
	height: 60px;
	/*padding-top: 16px;*/
	text-align: center;
	/*background-color:#FFFFFF;*/
   
}

#navigation {
    
	border: 1px solid #000000;
	font-size: 13px;
	height: 30px;
	/*padding-top: 16px;*/
	text-align: center;
	/*width: 763px;*/
    /*background-color:#FFFFFF;*/
	
	margin-top: 3px;
}

#navigation ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
} 

#navigation li{
    float: left;
}

#navigation a{
    display: block;
    width: 140px;
	}

/* Main section. Home */

#HomeText {
	
	margin: 0 auto;
	margin-top: 15px;
	margin-bottom: 15px;
	width: 733px;
	border: 1px solid #FFFFFF;
	padding: 10px;
	background-color:#FFFFFF;
	text-align: left;
	}

#HomeText h3 {
	text-align: center;
	}
#HomeText h4 {
	text-align: center;
	}

/*Research Section*/

.TitutloCentrado {
	text-align: center;	
	}
.ResearchDescription {
	/*border: 1px solid black;*/
	margin-left: 12px;
	margin-right: 12 px;
	}
.ResearchTopic {
	
	width: 733px;
    margin: 0 auto;
	margin-top: 10px;
	
	border: 1px solid black;
	padding: 10px;
	
	background-color:#FFFFFF;
	
	text-align: justify;

}

.ProjectThumb {

	/*border: 6px solid #FFFFFF;*/
	float: left;
	/*
	margin-right: 12px;
	*/
	width: 160px;
	/*height:175px;*/
	/*display:inline;*/
	/*overflow:hidden;*/
	padding: 10px;
	
}
.ProjectDescription {
	/*height:175px;*/
	margin-left: 180px;
	padding: 0 15px 0 0;
}
.Project{
	border: 1px solid black;
	margin-top: 5px;
	margin-left: 12px;
	margin-right: 12 px;
	overflow: auto;
}

/* NEWS */

.NewsContainer {
	
	width: 733px;
    margin: 0 auto;
	margin-top: 10px;
	
	border: 1px solid black;
	padding: 10px;
	
	background-color:#FFFFFF;
	
	text-align: justify;

	}
	
.NewsEntry{
	border: 1px solid black;
	margin-top: 5px;
	margin-left: 12px;
	margin-right: 12 px;
	overflow: auto;
	}
	
.NewsThumb {

	/*border: 6px solid #FFFFFF;*/
	float: left;
	/*
	margin-right: 12px;
	*/
	width: 160px;
	/*height:175px;*/
	/*display:inline;*/
	/*overflow:hidden;*/
	/*padding: 10px;*/
	
}
.NewsDescription {
	/*height:175px;*/
	margin-left: 180px;
	padding: 0 15px 0 0;
	
	font-size: 10px;
}

